<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Infragistics.Win.UltraWinExplorerBar.UltraExplorerBar.frmTest.uebSidebar" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Infragistics.Win.UltraWinExplorerBar.UltraExplorerBar.frmTest.uebSidebar>
            <setting name="XmlData" serializeAs="String">
                <value>&lt;SOAP-ENV:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:clr="http://schemas.microsoft.com/soap/encoding/clr/1.0" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"&gt;
&lt;SOAP-ENV:Body&gt;
&lt;a1:UltraExplorerBarStreamer id="ref-1" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinExplorerBar/Infragistics2.Win.UltraWinExplorerBar.v10.2"&gt;
&lt;ColumnSpacing&gt;0&lt;/ColumnSpacing&gt;
&lt;Groups href="#ref-3"/&gt;
&lt;GroupSpacing&gt;3&lt;/GroupSpacing&gt;
&lt;ItemSettings href="#ref-4"/&gt;
&lt;/a1:UltraExplorerBarStreamer&gt;
&lt;a1:UltraExplorerBarGroupsCollection id="ref-3" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinExplorerBar/Infragistics2.Win.UltraWinExplorerBar.v10.2"&gt;
&lt;Count&gt;1&lt;/Count&gt;
&lt;_x0030_ href="#ref-5"/&gt;
&lt;/a1:UltraExplorerBarGroupsCollection&gt;
&lt;a1:UltraExplorerBarItemSettings id="ref-4" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinExplorerBar/Infragistics2.Win.UltraWinExplorerBar.v10.2"&gt;
&lt;Style&gt;1&lt;/Style&gt;
&lt;/a1:UltraExplorerBarItemSettings&gt;
&lt;a1:UltraExplorerBarGroup id="ref-5" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinExplorerBar/Infragistics2.Win.UltraWinExplorerBar.v10.2"&gt;
&lt;Items href="#ref-6"/&gt;
&lt;Text id="ref-7"&gt;Maintenance&lt;/Text&gt;
&lt;/a1:UltraExplorerBarGroup&gt;
&lt;a1:UltraExplorerBarItemsCollection id="ref-6" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinExplorerBar/Infragistics2.Win.UltraWinExplorerBar.v10.2"&gt;
&lt;Count&gt;6&lt;/Count&gt;
&lt;_x0030_ href="#ref-8"/&gt;
&lt;_x0031_ href="#ref-9"/&gt;
&lt;_x0032_ href="#ref-10"/&gt;
&lt;_x0033_ href="#ref-11"/&gt;
&lt;_x0034_ href="#ref-12"/&gt;
&lt;_x0035_ href="#ref-13"/&gt;
&lt;/a1:UltraExplorerBarItemsCollection&gt;
&lt;a1:UltraExplorerBarItem id="ref-8" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinExplorerBar/Infragistics2.Win.UltraWinExplorerBar.v10.2"&gt;
&lt;Text id="ref-14"&gt;Company&lt;/Text&gt;
&lt;/a1:UltraExplorerBarItem&gt;
&lt;a1:UltraExplorerBarItem id="ref-9" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinExplorerBar/Infragistics2.Win.UltraWinExplorerBar.v10.2"&gt;
&lt;Text id="ref-15"&gt;Contact&lt;/Text&gt;
&lt;/a1:UltraExplorerBarItem&gt;
&lt;a1:UltraExplorerBarItem id="ref-10" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinExplorerBar/Infragistics2.Win.UltraWinExplorerBar.v10.2"&gt;
&lt;Text id="ref-16"&gt;Paydate&lt;/Text&gt;
&lt;/a1:UltraExplorerBarItem&gt;
&lt;a1:UltraExplorerBarItem id="ref-11" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinExplorerBar/Infragistics2.Win.UltraWinExplorerBar.v10.2"&gt;
&lt;Text id="ref-17"&gt;Project&lt;/Text&gt;
&lt;/a1:UltraExplorerBarItem&gt;
&lt;a1:UltraExplorerBarItem id="ref-12" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinExplorerBar/Infragistics2.Win.UltraWinExplorerBar.v10.2"&gt;
&lt;Text id="ref-18"&gt;Time Log&lt;/Text&gt;
&lt;/a1:UltraExplorerBarItem&gt;
&lt;a1:UltraExplorerBarItem id="ref-13" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinExplorerBar/Infragistics2.Win.UltraWinExplorerBar.v10.2"&gt;
&lt;Text id="ref-19"&gt;Invoice&lt;/Text&gt;
&lt;/a1:UltraExplorerBarItem&gt;
&lt;/SOAP-ENV:Body&gt;
&lt;/SOAP-ENV:Envelope&gt;
</value>
            </setting>
        </Infragistics.Win.UltraWinExplorerBar.UltraExplorerBar.frmTest.uebSidebar>
    </userSettings>
</configuration>